:root {
    --header-color: rgb(240, 200, 200);
    --font-color: rgb(48, 14, 14);
    --bg-color: rgb(252, 235, 235);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--font-color);
    background-color: var(--bg-color);
    display: grid;
    justify-content: center;
    grid-gap: 5px 50px;
    grid-template-columns: auto;
    grid-template-areas: "header" "Home" "About" "Contact" "Portfolio" "Order";
}

header{
    grid-area: header;
    background-color: var(--header-color);
    min-height: 100px;
    max-width: 100%;
    

}

header img {
    height: 100px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    text-align: center;
    margin-top: 10px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    margin-left: 10px;
    margin-right: 10px;
    color: var(--font-color);
}

main {
    color: var(--font-color);
    margin: 40px;
    padding: auto;

}

section img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

h1 {
    color: var(--font-color);
    font-size: 2.5rem;
    text-align: center;
}

h2 {
    color: var(--font-color);
    font-size: 2rem;
    text-align: center;
}

footer {
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    background-color: var(--header-color);
    padding: 10px;
    font-size: 0.9rem;
}



a:link{
    color: rgb(129, 15, 0);
}

a:visited{
    color: rgb(112, 8, 133);
}

a:hover{
    color: rgb(62, 39, 117);
}

a:active{
    color: rgb(192, 73, 73);
}